<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoAn_GiaSu"
        tools:targetApi="31">
        <activity
            android:name="Edit_Detail.Edit_Danhsachlopday_Activity"
            android:exported="false" />
        <activity
            android:name="Edit_Detail.Detail_Danhsachlopday_Activity"
            android:exported="false" />
        <activity
            android:name="Edit_Detail.Edit_NewClass_Activity"
            android:exported="false" />
        <activity
            android:name="Edit_Detail.Detail_NewClass_Activity"
            android:exported="false" />
        <activity
            android:name="Edit_Detail.Edit_GiaSu_Activity"
            android:exported="false" />
        <activity
            android:name="Edit_Detail.Detail_Giasu_Activity"
            android:exported="false" />
        <activity
            android:name=".UpLoadProfilePicActivity"
            android:exported="false" />
        <activity
            android:name="Edit_Detail.Detail_DanhSachLopHoc_Activity"
            android:exported="false" />
        <activity
            android:name="Edit_Detail.Edit_DanhSachLopHoc_Activity"
            android:exported="false" />
        <activity
            android:name="Activity_Menu.TaoYeuCauTimGiaSu_Activity"
            android:exported="false" />
        <activity
            android:name=".Dangnhap_Activity"
            android:exported="false" />
        <activity
            android:name="Activity_Menu.DieuKhoanDichVuActivity"
            android:exported="false" />
        <activity
            android:name="Activity_Menu.DangKyLamGiaSu_Activity"
            android:exported="false" />
        <activity
            android:name="Activity_Menu.DoiMatKhau_Activity"
            android:exported="false" />
        <activity
            android:name="Activity_Menu.ThongTinCaNhan_Activity"
            android:exported="false" />
        <activity
            android:name=".Fragment.SetFragment_Activity"
            android:exported="false" />
        <activity
            android:name=".Dangky_Activity"
            android:exported="false" />
        <activity
            android:name=".Khoiphucmatkhau_Activity"
            android:exported="false" />
        <activity
            android:name="Activity_Menu.Danhsachlopday_Activity"
            android:exported="false" />
        <activity
            android:name="Activity_Menu.Danhsachlophoc_Activity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>